@use "sass:math";
@use "./mixins/font.scss" as *;

:root {
  --white: #fff;
  --black: #4a4a4a;
  --pink: #ffedee;
  --yellow: #fffbe8;
  --red: #feddde;
  --orange: #ffe6c0;
  --blue: #e0f0fb;
  --gray: #eee;
}

html {
  font-size: min(math.div(10, 390) * 100vw, math.div(10, 390) * 500px);
}

body {
  @include jp;
  position: relative;
  display: block;
  width: 100%;
  text-size-adjust: 100%;
  color: var(--text);
  background: var(--white);
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
