<div class="partition">
  <span></span>
  <span></span>
  <span></span>
</div>

<style lang="scss">
  .partition {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    span {
      width: 0.5rem;
      height: 0.5rem;
      background: var(--gray);
      border-radius: 50%;
    }
  }
</style>
