---
import Pageheader from "../../components/Pageheader.astro";
import { data } from "../../contents/meta/data";
import Layout from "../../layouts/Layout.astro";
---

<Layout meta={data["schedule"]}>
  <div class="schedule">
    <Pageheader text="目安量" />
  </div>
</Layout>

<style lang="scss">
  .schedule {
    padding: calc(6rem + 2rem) 0 calc(6rem + 4rem);
  }
</style>
