@mixin jp {
  font-family: "iroha-25icho-stdn", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin en {
  font-family: "novel-mono-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
